{% extends '_base.twig' %} {% block content %}









    <div class="container">

        <div class="row">
            <div class="col p-4">
                <h1>GENERIC HIPSTER COFFEE</h1>
                <p>SPECIALTY COFFEE, FRESH FOOD & LOCAL COMMUNITY.</p>
            </div>

            <div class="row">
                <div class="col p-4">
                    <img class="img-fluid" src="img/counter.jpg" alt="dummy image">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <p>OPENING HOUR</p>
                <p>sunday - thursday: 8:00 - 23:00</p>
            </div>
            <div class="col">
                <p>BOOK A TABLE </p>
                <p>Call +1 415-321-4567</p>
            </div>
            <div class="col">
                <p> ADDRESS </p>
                <p>321 Ivy St.</p>
                <p>San Fransisco, CA 94102</p>
            </div>
        </div>

        <div class="col p-4">
            <img class="img-fluid" src="img/map.png" alt="dummy image">
        </div>


    </div>


    
   

    {% endblock %}