{% extends '_base.twig' %}


{% block content %}


<!-- navbar -->
    <nav>
    </nav>
<!-- main -->
<div class="container mt-5">
    <h1>MENU</h1>
    <br>
    <div class="row">
        <!-- part 1 -->
        <div class="col-xs-12 col-sm-12 col-md-6">
                <h3>ESPRESSO COFFEE</h3>
                    <p>Espresso 3.8 </p>
                    <p>Double espresso 4.9</p>
                    <p>Americano 5</p>
                    <p>Espresso machiato 4.3</p>
                    <p>Cappuccino 5.2</p>
                    <p>Flat White 5.9</p>
                    <p>Latte 5.9</p>
                    <p>Extra shot 1.1</p>

                <h3>FILTER COFFEE</h3>
                    <p>House Drip Coffee 4.5</p>
                    <p>Aeropress 5.5</p>
                    <p>V60 6.5</p>
                    <p>Kalita 12</p>

                <h3>COFFEE SPECIALITES</h3>
                    <p>Cascara 4.9</p>
                    <p>Irish coffee 10.9</p> 
        </div>
        <!-- part 2 -->
        <div class="col-xs-12 col-sm-12 col-md-6">
                <h2>NON-ALCOHOLIC BEVERAGES</h2>
                    <h3>LEMONADES</h3>
                        <p>Fresh Squeezed Lemonade 5</p>
                        <p>Ginger Lemonade 4.5</p>
                        <p>Cascara Fizz Original 5.8</p>
                        <p>Club-mate Cola 4.5</p>
                        <p>Tonic Thomas Henry 4.3</p>
    
                    <h3>WATER</h3>
                        <p>Sparkling 2.4
                        <p>Still 2.4
        </div>
        <!-- part 3 -->
        <div class="col-xs-12 col-sm-12 col-md-6">
                <h3>ICED</h3>
                    <p>Iced Latte 6.9</p>
                    <p>Espresso on the rock 4.9</p>
                    <p>Iced Cascara 5.5</p>
                    <p>Affogato 5.9</p>
                    <p>Iced Flat white 5.9</p>
                    <p>Iced Filter 5.8</p>
                    <p>Iced tea 4.9</p>
                    <p>Iced chocolate 6.2</p>
                    
                <h3>HOT</h3>
                    <p>Tea 4.9</p>
                    <p>Ginger tea 4.5</p>
                    <p>Hot chocolate 4.5</p>
        </div>
        <!-- part 4 -->
        <div class="col-xs-12 col-sm-12 col-md-6">
        
                    <h3>SOMETHING TO EAT</h3>
                    <p>Soup of the day 5.8</p>
                    <p>Chipotle Citrus Chicken Sandwich 5.4</p>
                    <p>Avocado Toast 5.6</p>
                    <p>Super BLT Sandwich 12.8</p>
            
                    <h3>SWEETS</h3>
                    <p>Homemade cakes of the day 5</p>
                    <p>Key Lime and Coconut 1.5</p>
                    <p>Icecream 2</p>
                    <p>Tiramisu 6</p>
        </div>
        <!-- part 5 -->
        <div class="col-xs-12 col-sm-12 col-md-6">
            <h2>ALCOHOLIC BEVERAGES</h2>
                <h3>BEER</h3>
                <p>Small breweries on tap 3.5</p>
                <p>Birell (bottled) 3.5</p>
                <p>Cider Magnetic Apple 4.5</p>
            
                <h3>WHITE WINE</h3>
                <p>Chardonnay Les Vignes de L'Arque, France 3.5</p>
                <p>Sauvignon Blanc, Château Le Sartre Blanc 2011 3.8</p>
                
        
                <h3>RED WINE</h3>
                <p>Cuvée Côtes du Rhône Vigneros de Caracterem 3.5</p>
                <p>Cabernet Sauvignon, Château Tour du Roch-Milon 2011 3.5</p>
            
                <h3>COCKTAILS</h3>
                <p>Gin Tonic 9</p>
                <p>Cuba Libre 9.9</p>
                <p>Mojito 9.9</p>
                
                <h3>SPIRITS</h3>
                <p>Metaxa 12* 7.5</p>
                <p>Tullamore Dew 6.5</p>
                <p>Jameson Whiskey 6.5</p>
                <p>Bombay, Añejo Suave 6.8</p>
                <p>Ron Cubay, Añejo Suave 6.5</p>
                <p>Tequila, El Jimador, Reposado 6.2</p>
                <p>Vodka Finlandia 5.5</p>
                <p>Bailey's 5.5</p>
                <p>Jagermeister 5.5</p>
                <p>Graham's Tawny Porto 4.7</p>
        </div>
    </div>
    <!-- pic -->
    <br>
    <img class="img-fluid" src="img/espresso-machine-detail.jpg" alt="espresso machine">

</div>
   
    {% endblock %}