{% extends '_base.twig' %} {% block content %}









<div class="container">

    <div class="row">
        <div class="col p-5">
            <h1>Our Story</h1>
            <p> Our story GHC started as a project of two friends and passionate baristas, John & Don in 2010. Believing as much
                in the hand of an educated barista as in the innovative equipment of the our ever-growing industry, GHC offers
                a full spectrum of brewing opportunities – from pour overs to syphon pots to finely executed espresso beverages.
                Each cup of coffee is made with love, precision and care. </p>
        </div>

    </div>

   
        <div class="col p-5">
            <img class="img-fluid" src="img/espresso-machine.jpg" alt="dummy image">
        </div>
    </div>

</div>





{% endblock %}